.Card {
  --background-color: #FAFAFA;
  --text-color: #52525B;
  --card-background-color: transparent;
  --card-label-color: #260C8F;
  --card-icon-color: #18181B;
  // -----------------------

  background: var(--background-color) no-repeat center center / cover;
  padding: 12px;
  height: 152px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: all .25s ease;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  }

  .icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;

    &::after {
      content: '';
      position: absolute;
      inset: 4.5px;
      border-radius: 50%;
      background-color: var(--card-icon-background-color);
      border: 1px solid var(--card-icon-border-color);
      backdrop-filter: blur(2px);
      transition: background-color .25s, border-color .25s;
    }

    svg {
      position: relative;
      z-index: 1;
      display: block;
      width: 24px;
      height: 24px;
      transform: translateZ(0);
      color: var(--card-icon-color);
      transition: color .25s;
    }
  }

  h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4em;
    font-family: 'monsterat-sb', sans-serif;
  }

  p {
    z-index: 2;
    position: relative;
    margin: 0;
    line-height: 1.4em;
    color: var(--text-color);
  }

  .ItemsBg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all .5s ease;
  }

  &:hover {
    .ItemsBg {
      transform: scale(10);
    }
  }

  // -----------------------

  &:nth-child(6n + 1) {
    .ItemsBg {
      background-color: hsl(var(--twc-accentYellow));
    }
  }

  &:nth-child(6n + 2) {
    .ItemsBg {
      background-color: hsl(var(--twc-accentRed));
    }
  }

  &:nth-child(6n + 3) {
    .ItemsBg {
      background-color: hsl(var(--twc-accentPurple));
    }
  }

  &:nth-child(6n + 4) {
    .ItemsBg {
      background-color: hsl(var(--twc-accentPink));;
    }
  }

  &:nth-child(6n + 5) {
    .ItemsBg {
      background-color: hsl(var(--twc-accentGreen));
    }
  }

}