.Navigation {
  ul {
    width: 100%;

    li {
      position: relative;
      cursor: pointer;
      box-sizing: border-box;

      a {
        color: #F9F9F9;
        box-sizing: border-box;
        transition: text-shadow .3s ease;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          transform: scale(0);
          @apply bg-primary;
          bottom: -2px;
          left: 0;
          transition: transform .3s ease;
        }
      }


      a {
        &.active,
        &:hover {
          &:after {
            transform: scale(1);
            transform-origin: center bottom;
          }

          a {
            text-shadow: 0 0 .65px #fff, 0 0 .65px #fff;
          }
        }
      }
    }
  }
}

.Hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-end;
  @apply gap-2;

  span {
    @apply bg-primary h-0.5;
  }
  span:nth-child(1) {
    @apply w-10;
  }
  span:nth-child(2) {
    @apply w-5;
  }
}

